@import '_colors';

.main-container {
  color: $primary;
  align-content: center;
  text-align: center;
}

.fund-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
